<div class="cart-container">

  <h2>🛒 Your Cart</h2>

  <div class="cart-item" *ngFor="let item of cartItems">

    <div class="info">
      <h4>{{ item.name || '--' }}</h4>
      <p>Rs {{ item.price || '--' }}</p>
    </div>

    <div class="qty">
      <button (click)="decrease(item)">-</button>
      <span>{{ item.qty }}</span>
      <button (click)="increase(item)">+</button>
    </div>

    <div class="total">
      Rs {{ item.price * item.qty }}
    </div>

    <button class="remove" (click)="remove(item.id)">✖</button>

  </div>

  <div class="summary">
    <h3>Total: Rs {{ total }}</h3>

    <a routerLink="/invoice">
      <button class="checkout">Checkout</button>
    </a>

  </div>

</div>