<div class="login-container">

  <div class="login-card">

    <h2>Create Account 📝</h2>

    <div class="input-group">
      <input type="text" [(ngModel)]="name" placeholder="Full Name" />
    </div>

    <div class="input-group">
      <input type="text" [(ngModel)]="email" placeholder="Email" />
    </div>

    <div class="input-group password-group">
      <input
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="password"
        placeholder="Password"
      />
      <span class="toggle" (click)="togglePassword()">
        <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
      </span>
    </div>

    <div class="input-group">
      <input type="text" [(ngModel)]="phone" placeholder="Phone" />
    </div>

    <div class="input-group">
      <input type="date" [(ngModel)]="dateOfBirth" />
    </div>

    <div class="input-group">
      <select [(ngModel)]="gender">
        <option value="">Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>

    <div class="input-group">
      <input type="file" (change)="onFileSelected($event)" />
    </div>

    <button class="login-btn" (click)="register()">
      Register
    </button>

    <p class="footer">
      Already have an account?
      <span routerLink="/login">Login</span>
    </p>

  </div>

</div>