<div class="container">
  
  <header class="header">
    <div>
      <i class="bi bi-cart-fill"></i>
      <strong style="margin-left: 10px; font-size: 20px;">
        Smart General Store
      </strong>
    </div>

    <a routerLink="/cart" class="cart-btn">Cart 🛍️</a>
  </header>

  <div class="grid">

    <div class="card" *ngFor="let p of products">
      
      <div class="img-box">
        <img [src]="p.image || 'assets/no-image.png'" />
      </div>

      <div class="content">
        <h3>{{ p.name || "--" }}</h3>
        <p class="category">{{ p.category || "--" }}</p>
        <p class="price">Rs {{ p.price || "--" }}</p>

        <button (click)="addToCart(p)">
          Add to Cart
        </button>
      </div>

    </div>

  </div>

</div>