<div class="container">
  
  <header class="header">
    <i class="bi bi-cart-fill me-2"> <strong style="margin-left: 10px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: x-large;">Smart General Store</strong></i>
    <a href="/cart" class="cart-btn">Cart 🛍️</a>
  </header>

  <div class="grid">
    <div class="card" *ngFor="let p of products">
      <div class="img-box">
        <img [src]="p.image || 'assets/no-image.png'" />
      </div>

      <div class="content">
        <h3>{{ p.name || "--" }}</h3>
        <p class="category">{{ p.category || "--" }}</p>
        <p class="price">Rs {{ p.price || "--" }}</p>

        <button (click)="addToCart(p)">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
