<div class="overlay" *ngIf="isOpen" (click)="close()"></div>

<div class="sidebar" [class.open]="isOpen">

  <!-- HEADER -->
  <div class="header">
    <h2>Order Details</h2>
    <button class="close" (click)="close()">✕</button>
  </div>

  <h3>My Cart</h3>

  <!-- CART ITEMS -->
  <div class="cart-item" *ngFor="let item of cartItems">

    <img [src]="item.image" />

    <div class="info">
      <h4>{{ item.productName }}</h4>
      <p>${{ item.price }}</p>

      <!-- QUANTITY CONTROLS -->
      <div class="qty">

        <button (click)="decrease(item)">-</button>

        <span>{{ item.quantity }}</span>

        <button (click)="increase(item)">+</button>

      </div>
    </div>

    <button class="delete" (click)="remove(item)">🗑️</button>

  </div>

  <!-- DELIVERY -->
  <div class="section">
    <h4>Delivery Location</h4>
    <p>📍 2 Petro Melikishvili St.</p>
  </div>

  <!-- PAYMENT -->
  <!-- <div class="section">
    <h4>Payment Method</h4>
    <p>💳 VISA Classic **** 0921</p>
  </div> -->

  <!-- SUMMARY -->
  <div class="summary">

    <div class="row">
      <span>Subtotal</span>
      <span>${{ subtotal }}</span>
    </div>

    <div class="row">
      <span>Shipping</span>
      <span>$10</span>
    </div>

    <div class="row total">
      <span>Total</span>
      <!-- <span>${{ subtotal + 10 }}</span> -->
    </div>

  </div>

  <!-- CHECKOUT -->
<button class="checkout" (click)="checkout()">
  Checkout (${{ subtotal + 10 }})
</button>

</div>