<div class="layout">
  <!-- Sidebar -->
  <aside class="sidebar" [class.collapsed]="isCollapsed">
    <!-- Logo -->
    <div class="logo-section">
      <div class="logo-icon">
        <i class="bi bi-cart-fill"></i>
      </div>

      <div class="logo-text" *ngIf="!isCollapsed">
        <h4>Store Panel</h4>
        <small>User Dashboard</small>
      </div>
    </div>

    <!-- User Info (DYNAMIC IMAGE) -->
    <div class="user-box" *ngIf="!isCollapsed && user">
      <img
        [src]="
          user?.imageUrl
            ? 'http://localhost:5000/Uploads/' + user.imageUrl
            : 'assets/default-avatar.png'
        "
        alt="user"
      />

      <h6>{{ user?.name || "User" }}</h6>
      <span>{{ user?.role || "User" }}</span>
    </div>

    <!-- Menu -->
    <nav class="menu">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="bi bi-house-door-fill"></i>
        <span *ngIf="!isCollapsed">Home</span>
      </a>

      <a routerLink="/product" routerLinkActive="active">
        <i class="bi bi-bag-fill"></i>
        <span *ngIf="!isCollapsed">Products</span>
      </a>

      <a routerLink="/cart" routerLinkActive="active">
        <i class="bi bi-cart3"></i>
        <span *ngIf="!isCollapsed">Cart</span>
      </a>

      <a routerLink="/invoice" routerLinkActive="active">
        <i class="bi bi-receipt-cutoff"></i>
        <span *ngIf="!isCollapsed">Invoice</span>
      </a>

      <a routerLink="/order-history" routerLinkActive="active">
        <i class="bi bi-clock-history"></i>
        <span *ngIf="!isCollapsed">Orders</span>
      </a>

      <a routerLink="/category" routerLinkActive="active">
        <i class="bi bi-grid-fill"></i>
        <span *ngIf="!isCollapsed">Category</span>
      </a>

      <a routerLink="/profile" routerLinkActive="active">
        <i class="bi bi-person-circle"></i>
        <span *ngIf="!isCollapsed">Profile</span>
      </a>
    </nav>

    <!-- Logout -->
    <div class="logout-area">
      <button class="logout-btn" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i>
        <span *ngIf="!isCollapsed">Logout</span>
      </button>
    </div>
  </aside>

  <!-- Main -->
  <div class="main">
    <!-- Topbar -->
    <header class="topbar">
      <div class="left-top">
        <button class="toggle-btn" (click)="toggleSidebar()">
          <i class="bi bi-list"></i>
        </button>

        <h3>Local General Store</h3>
      </div>

      <div class="right-top">
        <i class="bi bi-bell-fill notify"></i>

        <!-- TOPBAR IMAGE -->
        <img
          [src]="
            user?.imageUrl
              ? 'http://localhost:5000/Uploads/' + user.imageUrl
              : 'assets/default-avatar.png'
          "
          alt="user"
        />
      </div>
    </header>

    <!-- Content -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
