*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Segoe UI, sans-serif;
}

.layout{
  display:flex;
  min-height:100vh;
}

/* Sidebar */

.sidebar{
  width:270px;
  background:linear-gradient(180deg,#1e293b,#0f172a);
  color:#fff;
  padding:20px 15px;
  transition:.3s;
  display:flex;
  flex-direction:column;
}

.sidebar.collapsed{
  width:90px;
}

.logo-section{
  display:flex;
  align-items:center;
  gap:12px;
  margin-bottom:25px;
}

.logo-icon{
  width:45px;
  height:45px;
  background:#22c55e;
  border-radius:12px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:22px;
}

.logo-text h4{
  margin:0;
  font-size:18px;
}

.logo-text small{
  color:#cbd5e1;
}

.user-box{
  text-align:center;
  padding:20px;
  background:rgba(255,255,255,.08);
  border-radius:16px;
  margin-bottom:25px;
}

.user-box img{
  width:65px;
  height:65px;
  border-radius:50%;
  margin-bottom:10px;
}

.user-box h6{
  margin:0;
}

.user-box span{
  font-size:13px;
  color:#cbd5e1;
}

/* Menu */

.menu{
  flex:1;
}

.menu a{
  display:flex;
  align-items:center;
  gap:14px;
  text-decoration:none;
  color:#fff;
  padding:14px 16px;
  border-radius:12px;
  margin-bottom:10px;
  transition:.3s;
}

.menu a i{
  font-size:18px;
}

.menu a:hover{
  background:rgba(255,255,255,.08);
}

.menu a.active{
  background:#22c55e;
}

/* Logout */

.logout-area{
  margin-top:auto;
}

.logout-btn{
  width:100%;
  border:none;
  background:#ef4444;
  color:#fff;
  padding:13px;
  border-radius:12px;
  cursor:pointer;
  transition:.3s;
}

.logout-btn:hover{
  background:#dc2626;
}

/* Main */

.main{
  flex:1;
  background:#f8fafc;
}

.topbar{
  height:70px;
  background:#fff;
  padding:0 25px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0 2px 10px rgba(0,0,0,.05);
}

.left-top{
  display:flex;
  align-items:center;
  gap:15px;
}

.toggle-btn{
  border:none;
  background:#22c55e;
  color:#fff;
  width:40px;
  height:40px;
  border-radius:10px;
  font-size:20px;
  cursor:pointer;
}

.right-top{
  display:flex;
  align-items:center;
  gap:18px;
}

.notify{
  font-size:20px;
  cursor:pointer;
}

.right-top img{
  width:40px;
  height:40px;
  border-radius:50%;
}

.content{
  padding:25px;
}

/* Mobile */

@media(max-width:768px){

  .sidebar{
    position:fixed;
    z-index:999;
    height:100%;
  }

  .main{
    margin-left:90px;
  }

}