<div class="container">

  <!-- HEADER -->
  <div class="header">
    Smart Store
  </div>

  <!-- ✅ ONLY ONE SCROLL AREA -->
  <div class="content-area">

<button class="products-btn" [disabled]="products.length === 0">
  All Products ({{ products.length }})
</button>

    <hr />

    <div *ngFor="let cat of categories">

      <h2 class="category-title">
        {{ cat }}
      </h2>

      <hr />

      <div class="product-row">
        <app-product-card
          *ngFor="let p of groupedProducts[cat]"
          [product]="p"
          (add)="onAddToCart($event)">
        </app-product-card>
      </div>

    </div>

  </div>
</div>