.login-container {
  height: 100vh;
  background: linear-gradient(to right, #d4f5e9, #b2f2d7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

h2 {
  margin-bottom: 5px;
}

.subtitle {
  color: gray;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  position: relative;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.password-group .toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: #2ecc71;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background: #27ae60;
}

.divider {
  margin: 15px 0;
  color: gray;
}

.google-btn {
  width: 100%;
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.footer {
  margin-top: 15px;
  font-size: 14px;
}

.footer span {
  color: #2ecc71;
  cursor: pointer;
}